@import "~src/assets/admin/css/style.css";
.admin-image{
  width: 60px;
  height: 60px;;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
