<div style="background-color: #e1e3e3">
  <div class="breadcrumbs">
    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Badges and points</h1>
          <div class="clearfix"></div>
          <div class="crumbs">
            <a itemprop="breadcrumb" href="https://2code.info/demo/themes/ask-me">Home</a>
            <span class="crumbs-span">/</span>
            <span class="current">Badges and points</span>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class='index-no-box'></div>
  <div class="section-warp top-after-header big-search">
    <div class="container clearfix">
      <div class="box_icon box_warp box_no_border box_no_background">
        <div class="row">
          <div class="col-md-12">
            <form class="form-style form-style-2" method="get" action="https://2code.info/demo/themes/ask-me/search/">
              <div class="search-p">
                <input class='live-search live-search-big' autocomplete='off' type="text" value="Search here ..."
                       onfocus="if(this.value=='Search here ...')this.value='';"
                       onblur="if(this.value=='')this.value='Search here ...';"
                       name="search">
                <input type="hidden" name="page_id" value="2199">
                <input type="hidden" name="search_type" value="questions">
                <i class="fa fa-search"></i>
                <button class="ask-search">
                  <span class="color button small publish-question">Search</span>
                </button>
                <div class="search-results results-empty"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="container main-content page-right-sidebar">
    <div class="row">
      <div class="with-sidebar-container">
        <div class="main-sidebar-container col-md-9">
          <div class="page-content page-content-user-profile">
            <div class="user-profile-widget">
              <div class="boxedtitle page-title">
                <h2>Badges</h2>
              </div>
              <div class="ul_list ul_list-icon-ok">
                <ul>
                  <li style="background-color: #000000;color: #FFF;">Beginner
                    <span> ( <span>20</span> ) Points</span>
                  </li>
                  <li style="background-color: #dd3333;color: #FFF;"> Teacher
                    <span> ( <span>100</span> ) Points</span>
                  </li>
                  <li style="background-color: #dd9933;color: #FFF;">Pundit
                    <span> ( <span>150</span> ) Points</span>
                  </li>
                  <li style="background-color: #81d742;color: #FFF;">Explainer
                    <span> ( <span>250</span> ) Points</span>
                  </li>
                  <li style="background-color: #1e73be;color: #FFF;">Professional
                    <span> ( <span>500</span> ) Points</span>
                  </li>
                  <li style="background-color: #8224e3;color: #FFF;">Enlightened
                    <span> ( <span>1000</span> ) Points</span>
                  </li>
                  <li class="text-center" style="background-color: #CD0A0A;color: #FFF; margin-left: 25%">
                    To Register As Level 3 Admin
                    <span> ( <span>2000</span> ) Points</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="page-content page-content-user-profile">
            <div class="user-profile-widget">
              <div class="boxedtitle page-title">
                <h2>Points</h2>
              </div>
              <div class="ul_list ul_list-icon-ok">
                <ul>
                  <li>Points for a new user
                    <span> (  <span>20</span> ) </span>
                  </li>
                  <li>Points for add question
                    <span> ( <span>3</span> ) </span>
                  </li>
                  <li>Points for add answer
                    <span> ( <span>5</span> ) </span>
                  </li>
                  <li>Points decrement for add wrong question
                    <span> ( <span>8</span> ) </span>
                  </li>
                  <li>Points decrement for add wrong answer
                    <span> ( <span>8</span> ) </span>
                  </li>
                  <li>Points for rating question
                    <span> ( <span>1</span> ) </span>
                  </li>
                  <li>Points for rating answer
                    <span> ( <span>1</span> ) </span>
                  </li>
                  <li>Points for report question
                    <span> ( <span>3</span> ) </span>
                  </li>
                  <li>Points for report answer
                    <span> ( <span>3</span> ) </span>
                  </li>
                  <li>Points decrement for wrong reported question
                    <span> (  <span>4</span> ) </span>
                  </li>
                  <li>Points decrement for wrong reported answer
                    <span> (  <span>3</span> ) </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <app-right-bar-without-profile></app-right-bar-without-profile>

        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</div>
