<div style="background-color: #e1e3e3">
  <div class="breadcrumbs">
    <section class="container">
      <div class="row">
        <div class="col-md-6"><h1>{{loggedUser.name}}</h1>
          <div class="clearfix"></div>
          <div class="crumbs"><a itemprop="breadcrumb" href="https://2code.info/demo/themes/ask-me">Home</a><span
            class="crumbs-span">/</span> <span class="current">{{loggedUser.displayName}}</span></div>
        </div>
      </div>
    </section>
  </div>
  <div class='index-no-box'></div>
  <div class="section-warp top-after-header big-search">
    <div class="container clearfix">
      <div class="box_icon box_warp box_no_border box_no_background">
        <div class="row">
          <div class="col-md-12">
            <form class="form-style form-style-2" method="get" action="https://2code.info/demo/themes/ask-me/search/">
              <div class="search-p"><input class='live-search live-search-big' autocomplete='off' type="text"
                                           value="Search here ..."
                                           onfocus="if(this.value=='Search here ...')this.value='';"
                                           onblur="if(this.value=='')this.value='Search here ...';" name="search"><input
                type="hidden" name="page_id" value="2199"><input type="hidden" name="search_type" value="questions"><i
                class="fa fa-search"></i>
                <button class="ask-search"><span class="color button small publish-question">Search</span></button>
                <div class="search-results results-empty"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="container main-content page-right-sidebar">
    <div class="row">
      <div class="with-sidebar-container">
        <div class="main-sidebar-container col-md-9">
          <div class="row">
            <div class="user-profile">
              <div class="col-md-12">
                <div class="page-content">
                  <h2>About <a style="cursor: pointer">{{loggedUser.displayName}}</a>
                    <span class="badge-span" style="background-color: #dd9933"
                          *ngIf="loggedUser.badgeID==1">Beginner</span>
                    <span class="badge-span" style="background-color: #dd9933"
                          *ngIf="loggedUser.badgeID==2">Teacher</span>
                    <span class="badge-span" style="background-color: #dd9933"
                          *ngIf="loggedUser.badgeID==3">Pundit</span>
                    <span class="badge-span" style="background-color: #dd9933"
                          *ngIf="loggedUser.badgeID==4">Explainer</span>
                    <span class="badge-span" style="background-color: #dd9933" *ngIf="loggedUser.badgeID==5">Professional</span>
                    <span class="badge-span" style="background-color: #dd9933"
                          *ngIf="loggedUser.badgeID==6">Enlightened</span>
                  </h2>
                  <div class="ul_list ul_list-icon-ok about-user">
                    <ul>
                      <li><i class="icon-plus"></i><strong>Registered: </strong><span>{{loggedUser.joinDate}}</span>
                      </li>
                    </ul>
                  </div>

                  <div class="avatar-upload" style="margin-top: -1rem; margin-bottom: -1rem">
                    <div class="avatar-edit">
                      <input type='file' id="imageUpload" (change)="showPreviewImage($event)"
                             accept=".png, .jpg, .jpeg">
                      <label for="imageUpload" *ngIf="editProfile">
                        <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
                      </label>
                    </div>
                    <div class="avatar-preview">
                      <img id="imagePreview1" [src]="loggedUser.profileImageUrl"
                           *ngIf="!localUrl">
                      <!--</img>-->
                      <div id="imagePreview" [ngStyle]="{'background-image': 'url(' + localUrl + ')'}" *ngIf="localUrl">
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <p></p>
                  <div class="clearfix"></div>
                  <a class="button color large margin_0" *ngIf="!editProfile" (click)="checkEditStatus()">
                    <i class="icon-pencil"></i>Edit profile</a>
                  <a class="button color large margin_0" *ngIf="editProfile" (click)="checkEditStatus()">
                    <i class="icon-caret-up"></i>Close</a>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="col-md-12" *ngIf="!editProfile">
                <div class="page-content page-content-user-profile">
                  <div class="user-profile-widget"><h2>User Stats</h2>
                    <div class="ul_list ul_list-icon-ok">
                      <ul>
                        <li>
                          <a style="cursor: pointer"><i class="icon-user"></i>
                            User Name : {{loggedUser.name}}</a>
                        </li>
                        <li>
                          <a style="cursor: pointer"><i class="icon-user-md"></i>
                            Nick Name : {{loggedUser.displayName}}</a>
                        </li>
                        <li>
                          <a style="cursor: pointer"><i class="icon-comments"></i>
                            Email : {{loggedUser.email}}</a>
                        </li>
                        <li>
                          <a style="cursor: pointer"><i class="icon-heart"></i>
                            Age : {{loggedUser.age}}</a>
                        </li>
                        <li>
                          <a style="cursor: pointer"><i class="icon-location-arrow"></i>
                            Location : {{loggedUser.location}}</a>
                        </li>
                        <li>
                          <a style="cursor: pointer"><i class="icon-star"></i>
                            Reputation : {{loggedUser.reputation}}</a>
                        </li>
                        <li>
                          <a style="cursor: pointer"><i class="icon-facebook"></i>
                            Facebook : {{loggedUser.facebookUrl}}</a>
                        </li>
                        <li>
                          <a style="cursor: pointer"><i class="icon-github"></i>
                            GitHub : {{loggedUser.githubUrl}}</a>
                        </li>
                        <li style="width: 100%">
                          <a style="cursor: pointer">
                            <span style="margin-left: 45%"><i class="icon-asterisk"></i>
                            About :</span>
                            <br><br>{{loggedUser.about}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" *ngIf="editProfile">
                <div class="page-content page-content-user-profile">
                  <div class="user-profile-widget"><h2>Edit Profile</h2>
                    <div class="page-content">
                      <div class="form-style form-style-4">
                        <form class="edit-profile-form vpanel_form" #frmUpdateProfile="ngForm" (ngSubmit)="updateProfileImage()">
                          <div class="form-inputs clearfix">
                            <p class="form-group">
                              <label for="txtName" class="required">Username
                                <span>*</span>
                              </label>
                              <input type="text" class="form-control required-item" name="txtName" id="txtName"
                                     [(ngModel)]="loggedUser.name" [disabled]="true">
                            </p>
                            <p class="form-group">
                              <label for="txtDisplayName" class="required">Display Name
                                <span>*</span>
                              </label>
                              <input type="text" class="form-control required-item" name="txtDisplayName"
                                     id="txtDisplayName"
                                     [(ngModel)]="loggedUser.displayName"
                                     placeholder="Enter the name you want to display in this site ...">
                            </p>
                            <p class="form-group">
                              <label for="txtEmail" class="required">E-Mail
                                <span>*</span>
                              </label>
                              <input type="email" class="form-control required-item" name="txtEmail" id="txtEmail"
                                     [(ngModel)]="loggedUser.email" placeholder="Enter your email here ...">
                            </p>
                            <p class="form-group">
                              <label for="txtAge" class="required">Age
                                <span>*</span>
                              </label>
                              <input type="text" class="form-control required-item" name="txtAge" id="txtAge"
                                     [(ngModel)]="loggedUser.age" placeholder="Enter your age here ...">
                            </p>
                            <p class="form-group">
                              <label for="txtLocation" class="required">Location
                                <span>*</span>
                              </label>
                              <input type="text" class="form-control required-item" name="txtLocation" id="txtLocation"
                                     [(ngModel)]="loggedUser.location" placeholder="Enter country & state here ...">
                            </p>
                            <p class="form-group">
                              <label for="txtReputation" class="required">Reputation
                                <span>*</span>
                              </label>
                              <input type="text" class="form-control required-item" name="txtReputation"
                                     id="txtReputation"
                                     [(ngModel)]="loggedUser.reputation" placeholder="Enter your reputation here ...">
                            </p>
                            <p class="form-group">
                              <label for="txtFacebookUrl" class="required">Facebook Account
                                <span>*</span>
                              </label>
                              <input type="text" class="form-control required-item" name="txtFacebookUrl"
                                     id="txtFacebookUrl"
                                     [(ngModel)]="loggedUser.facebookUrl"
                                     placeholder="Paste your facebook account url here ...">
                            </p>
                            <p>
                              <label for="txtGithubUrl" class="required">Github Account
                                <span>*</span>
                              </label>
                              <input type="text" class="form-control required-item" name="txtGithubUrl"
                                     id="txtGithubUrl"
                                     [(ngModel)]="loggedUser.githubUrl"
                                     placeholder="Paste your github account url here ...">
                            </p>
                            <p class="form-group">
                              <label for="txtPassword" class="required">Password
                                <span>*</span>
                              </label>
                              <input type="password" class="form-control required-item" name="txtPassword"
                                     id="txtPassword"
                                     [(ngModel)]="loggedUser.password" placeholder="Enter your password here ..."
                                     autocomplete="off">
                            </p>
                            <p class="form-group">
                              <label for="txtConfirmPassword" class="required">Confirm Password
                                <span>*</span>
                              </label>
                              <input type="password" class="form-control required-item" name="txtConfirmPassword"
                                     id="txtConfirmPassword" placeholder="Retype your password here ..."
                                     autocomplete="off">
                            </p>

                          </div>
                          <div class="form-style form-style-2 form-style-3">
                            <p><label for="txtAbout">About Yourself</label>
                              <textarea name="txtAbout" id="txtAbout" cols="58" rows="8"
                                        class="form-group" [(ngModel)]="loggedUser.about"
                                        placeholder="A breif detail about you ...">
                              </textarea>
                            </p>
                          </div>

                          <div class="form-inputs clearfix">
                            <input type="submit" value="Save" class="button color small login-submit submit">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="clearfix"></div>
          <div class="page-content" *ngIf="editProfile">
            <div class="user-stats">
              <div class="user-stats-head">
                <div class="block-stats-1 stats-head">#</div>
                <div class="block-stats-2 stats-head">Today</div>
                <div class="block-stats-3 stats-head">Month</div>
                <div class="block-stats-4 stats-head">Total</div>
              </div>
              <div class="user-stats-item">
                <div class="block-stats-1">Questions</div>
                <div class="block-stats-2">0</div>
                <div class="block-stats-3">0</div>
                <div class="block-stats-4">0</div>
              </div>
              <div class="user-stats-item">
                <div class="block-stats-1">Answers</div>
                <div class="block-stats-2">0</div>
                <div class="block-stats-3">0</div>
                <div class="block-stats-4">0</div>
              </div>
              <div class="user-stats-item user-stats-item-last">
                <div class="block-stats-1">Visits</div>
                <div class="block-stats-2">6</div>
                <div class="block-stats-3">6</div>
                <div class="block-stats-4">136</div>
              </div>
            </div>
          </div>
        </div>

        <app-right-bar-with-profile></app-right-bar-with-profile>

        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</div>
